Babel==2.6.0
blinker==1.4
certifi==2018.11.29
chardet==3.0.4
cloudpickle==0.6.1
docutils==0.14
doit==0.31.1
ghp-import2==1.0.1
idna==2.8
Jinja2==2.10
Logbook==1.4.1
lxml==4.3.0
MacFSEvents==0.8.1
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.1.0
natsort==5.5.0
Nikola==8.0.1
piexif==1.1.2
Pillow==5.4.1
Pygments==2.3.1
PyRSS2Gen==1.1
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
six==1.12.0
smartypants==2.0.1
typogrify==2.0.7
Unidecode==1.0.23
urllib3==1.24.1
webassets==0.12.1
Yapsy==1.12.0
# dependencies for `nikola auto`
aiohttp
watchdog
